 
{% extends "pages/base.html" %}

{% block title %}GestionArt - Arte en Gestion{% endblock %}
 {% block modal %}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 style="color:darkblue;" class="modal-title">Resultados de Busqueda</h2>
      </div>
      <div class="modal-body">
         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
       
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
       
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        
      </tr>
    </tbody>
  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
 {% block content %}
            <div class="row">
                <div class="col-lg-9">
                    <!-- <h1 class="page-header">Dashboard</h1> -->
                    <ul class="my-page-header nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-12 -->
                
                <div class="col-lg-1 ">
                <ul class="my-page-header nav" id="side-menu">
                 <a href="/newClient/" class="button btn btn-default btn-block glyphicon glyphicon-user"></a>
                </ul>
                </div>
                <div class="col-lg-1 ">
                <ul class="my-page-header nav" id="side-menu">
                 <a href="/newVehicle/" class="button btn btn-default glyphicon glyphicon-road btn-block"></a>
                </ul>
                </div>
                <div class="col-lg-1 ">
                <ul class="my-page-header nav" id="side-menu">
                  <a href="/newWork/" class="button btn btn-default glyphicon glyphicon-wrench btn-block"></a>
                </ul>
                </div>
            </div>
            </br>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Tareas Nuevas!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/detailsWork/">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Tareas Pendientes!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/detailsWork/">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
            
  <h2>Nuevas Tareas</h2>
  <p>Tareas agregadas en las ultimas 24 hs</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tarea</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>Cambio de Aceite</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>Service 1</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>Cambiar luz freno</td>
      </tr>
    </tbody>
  </table>

       {% endblock %}