 
{% extends "pages/base.html" %}

{% block title %}GestionArt - Arte en Gestión{% endblock %}
{% block modal %}
 <head>
   <meta charset="utf-8">
 </head>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resultados de Búsqueda</h4>
      </div>
      <div class="modal-body">
         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
       
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
       
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        
      </tr>
    </tbody>
  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block content %}
            <div class="container-fluid">
                <div class="row" >
                
                
                    <div class="col-lg-12">
                        <h1 class="page-header">Nuevo Vehículo</h1>
                    </div>
                   
                   
                    <div class="col-lg-10 bg-white">
                        <form>
                            <div class="row spa-bot-lg" >
                            <!-- <div class="col-lg-offset-2 col-lg-8"> -->
                                <div class="col-lg-8">
                                <label for="direccion" class="text-semibold"><strong>Propietario</strong></label>
                                        
                                <div class="input-group">
                                        
                                        
      										<input type="text" class="form-control" placeholder="Buscar...">
      										<span class="input-group-btn">
        									<button class="btn btn-primary glyphicon glyphicon-search" type="button" data-toggle="modal" data-target="#myModal"></button>
      										</span>
    									</div>
                           				 <!-- /input-group <button class="btn btn-default" type="button"  data-toggle="modal" data-target="#myModal">
                                    			-->
                        			
                                   
                                    </br>
                                    <div class="row">
                                    <h5 class="text-center spa-bot double-line"><strong><span>Datos Propietario</span></strong></h5>
                            				
                                        <div class="form-group form-group-lg col-lg-6">
                                          <label for="nombre" class="text-semibold">Nombre</label>
                                          <input type="text" class="form-control" id="nombre" disabled>
                                        </div>
                                        <div class="form-group form-group-lg col-lg-6">
                                          <label for="apellido" class="text-semibold">Apellido</label>
                                          <input type="text" class="form-control" id="apellido" disabled>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                    <h5 class="text-center spa-bot double-line"><strong><span>Datos Vehículo</span></strong></h5>
                            		
                                        <div class="form-group form-group-lg col-lg-6">
                                          <label for="nombre" class="text-semibold">Tipo</label>
                                          <input type="text" class="form-control" id="tipo">
                                        </div>
                                        <div class="form-group form-group-lg col-lg-6">
                                          <label for="apellido" class="text-semibold">Matrícula</label>
                                          <input type="text" class="form-control" id="matricula">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-group-lg col-lg-6">
                                            <label for="fechanac" class="text-semibold" >Marca</label>
                                         <input type="text" class="form-control" id="marca">
                                        </div>
                                        <div class="form-group form-group-lg col-lg-6">
                                            <label for="telefono" class="text-semibold">Modelo</label>
                                            <input type="text" class="form-control" id="modelo">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-group-lg col-lg-6">
                                            <label for="fechanac" class="text-semibold" >Fecha Fabricación</label>
                                         <input type="text" class="form-control" id="fecha">
                                        </div>
                                        <div class="form-group form-group-lg col-lg-6">
                                            <label for="telefono" class="text-semibold">Kilometraje</label>
                                            <input type="text" class="form-control" id="kilometraje">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group form-group-lg col-lg-12">
                                           <h5 class="text-center spa-bot double-line"><strong><span>Aclaraciones</span></strong></h5>
                            				<textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                   <br></br>
                                   
                                    <button type="submit" class="btn btn-success btn-block">CREAR VEHÍCULO</button>
                                    <br></br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
{% endblock %}